.container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 4fr 2fr 2fr 2fr 4fr;
    gap: 5px;
    width: 100%;
    height: 100%;
    grid-template-areas: "one one four"
    "main  main four"
    "main main four"
    "main main four"
    "five five five";
  }
  .one {
    grid-column: 1/2;
    grid-area: one;
    background-color: rgb(247, 142, 22);
    text-align: center;
    font-size: 30px;color: white; font-weight: bold;
    padding-top: 20px;}
  
  .four {
    grid-column: 2/3;
    grid-row: 1/4;
    grid-area: four;
    background-color: rgb(198, 251, 74);
    text-align: center;
    font-size: 30px;color: white; font-weight: bold;
    padding-top: 20px;}

  
  .main{
      grid-column: 1/2;
      grid-row: 3/4;
      grid-area: main;
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: "two three";
  }
  .two{
  grid-column: 1/2;
  grid-area: two;
  background-color: rgb(101, 193, 151);
    text-align: center;
    font-size: 30px;color: white; font-weight: bold;
    padding-top: 20px;

  }
  .three{
      grid-column: 2/3;
      grid-area: three;
      background-color: rgb(252, 247, 163);
      text-align: center;
    font-size: 30px;color: white; font-weight: bold;
    padding-top: 20px;
    
  }
  
  
  .five{
      grid-column: 1/3;
      grid-row: 4/5;
      grid-area: five;
      background-color: rgb(56, 134, 202);  
      text-align: center;
    font-size: 30px;color: white; font-weight: bold;
    padding-top: 20px;  
  }
  